/* Variabel warna & font sudah didefinisikan di globals.css */

/* Container utama */
.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-text);
}

/* Judul Dashboard */
.heading {
  font-size: 2.5rem;
  color: var(--color-bg);
  text-align: center;
  font-family: var(--font-din1451);
  position: relative;
}
.heading::after {
  content: '';
  display: block;
  width: 80px;
  height: 5px;
  background: var(--color-acc1);
  margin: 8px auto 0;
}


/* Subheading */
.subheading {
  margin: 8px 0 32px;
  text-align: center;
  color: var(--color-base);
  font-size: 1.125rem;
  font-family: var(--font-sans);
}

/* Grid untuk card */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  background-color:#5d5336;
  border: 3px solid var(--color-acc2);
clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Gambar dalam card */
.imageWrapper {
  position: relative;
  padding-top: 66.7%;
  overflow: hidden;
}
.imageWrapper img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color:transparent;
 object-fit: contain;

}

/* Konten card */
.cardContent {
  padding: 16px;
  display: flex;
  flex-direction: column;

}

/* Judul dalam card */
.cardTitle {
  font-size: 1.25rem;
  margin-bottom: 8px;
  color: var(--color-acc1);
  font-family: var(--font-futura);
  
}

/* Deskripsi dalam card */
.cardDesc {
  flex: 1;
  color: var(--color-text);
  font-size: 1rem;
  font-family: var(--font-sans);
  color:#b5afa4;

}

/* Responsive tweaks */
@media (max-width: 500px) {
  .heading {
    font-size: 2rem;
  }
  .subheading {
    font-size: 1rem;
  }
}
